/* Common - Button Themes (App.js level) */
.btn-pri {
    border: none;
    color: white;
    font-size: 23px;
    min-width: 105px;
    line-height: 1.5;
    user-select: none;
    text-align: center;
    font-family: 'Mona';
    letter-spacing: 0.5px;
    vertical-align: middle;
    border-radius: 0.25rem;
    padding: 0.2rem 0.7rem 0.3rem;
    background-image: radial-gradient( circle farthest-corner at 1.2% 5.3%,  rgba(255,85,166,1) 0%, rgba(255,154,98,1) 100.2% );
}

.btn-sec {
    border: none;
    color: white;
    font-size: 23px;
    min-width: 105px;
    line-height: 1.5;
    user-select: none;
    text-align: center;
    font-family: 'Mona';
    letter-spacing: 0.5px;
    vertical-align: middle;
    border-radius: 0.25rem;
    padding: 0.2rem 0.7rem 0.3rem;
    background-color: rgba(70,80,98,0.4);
}