/* >>>>> fonts <<<<< */

/* Montserrat */
@font-face {
    font-family: 'MontserratBlack';
    src: url('Fonts/Montserrat/Montserrat-Black.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratBold';
    src: url('Fonts/Montserrat/Montserrat-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratExtraBold';
    src: url('Fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratExtraLight';
    src: url('Fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratLight';
    src: url('Fonts/Montserrat/Montserrat-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratMedium';
    src: url('Fonts/Montserrat/Montserrat-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('Fonts/Montserrat/Montserrat-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: url('Fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratThin';
    src: url('Fonts/Montserrat/Montserrat-Thin.ttf') format('truetype')
}

/* italic fonts */
@font-face {
    font-family: 'MontserratBlackItalic';
    src: url('Fonts/Montserrat/italic/Montserrat-BlackItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratBoldItalic';
    src: url('Fonts/Montserrat/italic/Montserrat-BoldItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratExtraBoldItalic';
    src: url('Fonts/Montserrat/italic/Montserrat-ExtraBoldItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratExtraLightItalic';
    src: url('Fonts/Montserrat/italic/Montserrat-ExtraLightItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratLightItalic';
    src: url('Fonts/Montserrat/italic/Montserrat-LightItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratMediumItalic';
    src: url('Fonts/Montserrat/italic/Montserrat-MediumItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratRegularItalic';
    src: url('Fonts/Montserrat/italic/Montserrat-RegularItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratSemiBoldItalic';
    src: url('Fonts/Montserrat/italic/Montserrat-SemiBoldItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'MontserratThinItalic';
    src: url('Fonts/Montserrat/italic/Montserrat-ThinItalic.ttf') format('truetype')
}

/* Mona */
@font-face {
    font-family: 'Mona';
    src: url('Fonts/Mona/Mona.woff') format('woff'),
         url('Fonts/Mona/Mona.otf') format('opentype');
}

@font-face {
    font-family: 'MonaBouncy';
    src: url('Fonts/Mona/Mona-Bouncy.woff') format('woff'),
         url('Fonts/Mona/Mona-Bouncy.otf') format('opentype');
}

/* >>>>> fonts classes <<<<< */

/* Montserrat */
.font-mont-bl {
    font-family: 'MontserratBlack';
}

.font-mont-b {
    font-family: 'MontserratBold';
}

.font-mont-eb {
    font-family: 'MontserratExtraBold';
}

.font-mont-el {
    font-family: 'MontserratExtraLight';
}

.font-mont-l {
    font-family: 'MontserratLight';
}

.font-mont-m {
    font-family: 'MontserratMedium';
}

.font-mont-r {
    font-family: 'MontserratRegular';
}

.font-mont-sb {
    font-family: 'MontserratSemiBold';
}

.font-mont-t {
    font-family: 'MontserratThin';
}

.font-mont-bl-i {
    font-family: 'MontserratBlackItalic';
}

.font-mont-b-i {
    font-family: 'MontserratBoldItalic';
}

.font-mont-eb-i {
    font-family: 'MontserratExtraBoldItalic';
}

.font-mont-el-i {
    font-family: 'MontserratExtraLightItalic';
}

.font-mont-l-i {
    font-family: 'MontserratLightItalic';
}

.font-mont-m-i {
    font-family: 'MontserratMediumItalic';
}

.font-mont-r-i {
    font-family: 'MontserratRegularItalic';
}

.font-mont-sb-i {
    font-family: 'MontserratSemiBoldItalic';
}

.font-mont-t-i {
    font-family: 'MontserratThinItalic';
}

/* Mona */

.font-mona {
    font-family: 'Mona';
}

.font-mona-bou {
    font-family: 'MonaBouncy';
}

/* >>>>> Scrollbar - Common Styling <<<<< */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Gradient Text Styles */
.gradient-text-1 {
    background-image: radial-gradient( circle farthest-corner at 1.2% 5.3%,  rgba(255,85,166,1) 0%, rgba(255,154,98,1) 100.2% );
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gradient-text-2 {
    background: radial-gradient( circle farthest-corner at 12% 12.5%,  rgba(245,76,100,1) 0%, rgba(247,129,97,1) 90% );
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gradient-text-3 {
    background-image: linear-gradient( 175.9deg,  rgba(70,80,98,1) 7%, rgba(90,104,127,1) 93.8% );
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* >>>>> common css (index.js level) <<<<< */
* {
    font-family: 'MontserratMedium'
}

body {
    margin: 0;
}